@if (triggerVariant === 'stroked') {
  <button
    mat-stroked-button
    [matMenuTriggerFor]="leaseActionsMenu"
    [attr.aria-label]="ariaLabel"
    (click)="stopPropagation($event)">
    <mat-icon class="mr-1">more_vert</mat-icon>
    {{ triggerLabel }}
  </button>
} @else {
  <button
    mat-icon-button
    [matMenuTriggerFor]="leaseActionsMenu"
    [attr.aria-label]="ariaLabel"
    (click)="stopPropagation($event)">
    <mat-icon>more_horiz</mat-icon>
  </button>
}

<mat-menu #leaseActionsMenu="matMenu">
  @if (showView) {
    <button mat-menu-item (click)="onView($event)">
      <mat-icon>visibility</mat-icon>
      <span>View Details</span>
    </button>
  }

  @if (showEdit) {
    <button mat-menu-item (click)="onEdit($event)">
      <mat-icon>edit</mat-icon>
      <span>Edit Lease</span>
    </button>
  }

  @if (isDraft()) {
    <button mat-menu-item (click)="onCompleteDraft($event)">
      <mat-icon>edit_note</mat-icon>
      <span>Complete Draft</span>
    </button>
  }

  @if (isActive()) {
    <button mat-menu-item (click)="onEndLease($event)">
      <mat-icon>event_busy</mat-icon>
      <span>End Lease</span>
    </button>
  }

  @if (showDelete) {
    <button mat-menu-item (click)="onDelete($event)">
      <mat-icon class="text-red-600">delete</mat-icon>
      <span class="text-red-600">Delete Lease</span>
    </button>
  }
</mat-menu>