  <h2 mat-dialog-title>
    {{ data.isEdit ? 'Edit Option' : 'Create New Option' }}
  </h2>
  <mat-dialog-content class="mb-2">
    <form [formGroup]="optionForm" (ngSubmit)="onSubmit()">
      <div class="space-y-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter option name">
          @if (optionForm.get('name')?.hasError('required')) {
            <mat-error>
              Name is required
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Price</mat-label>
          <input matInput type="number" formControlName="price" min="0">
          @if (optionForm.get('price')?.hasError('required')) {
            <mat-error>
              Price is required
            </mat-error>
          }
          @if (optionForm.get('price')?.hasError('min')) {
            <mat-error>
              Price must be 0 or greater
            </mat-error>
          }
        </mat-form-field>

        <div class="flex items-center p-4  rounded-lg">
          <mat-slide-toggle formControlName="inStock" color="primary">
            In Stock
          </mat-slide-toggle>
        </div>
      </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
   <button matButton  (click)="onCancel()">Cancel</button>
    <button matButton="filled" color="primary"  [disabled]="!optionForm.valid || isSubmitting()">
        {{isSubmitting() ? 'Submit...' : (data.isEdit ? 'Update' : 'Create')}}
    </button>
</mat-dialog-actions>
