@if (unitResource.isLoading()) {
  <div class="flex items-center justify-center py-20">
    <mat-spinner diameter="48"></mat-spinner>
  </div>
} @else if (unitResource.error()) {
  <div class="bg-red-50 border border-red-200 rounded-lg p-4 m-4">
    <div class="flex items-center gap-2">
      <mat-icon class="text-red-500">error</mat-icon>
      <div>
        <h3 class="text-red-800 font-medium">Error loading unit</h3>
        <button mat-button color="warn" (click)="reload()" class="mt-2 !text-red-600">
          <mat-icon class="mr-1">refresh</mat-icon>
          Retry
        </button>
      </div>
    </div>
  </div>
} @else if (unit()) {
  <app-page-header
    [title]="unit()!.name || 'Unit Detail'"
    [subtitle]="subtitleText()">
    <ng-container actions>
      <button mat-button (click)="goBack()">
        <mat-icon class="mr-1">arrow_back</mat-icon>
        Back to Units
      </button>
      <button mat-flat-button (click)="editUnit()">
        <mat-icon class="mr-1">edit</mat-icon>
        Edit
      </button>
    </ng-container>
  </app-page-header>

  <nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false" mat-align-tabs="start">
    @for (tab of tabs; track tab.link) {
      <a mat-tab-link
        [routerLink]="tab.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive">
        <mat-icon class="mr-2 !text-lg">{{ tab.icon }}</mat-icon>
        {{ tab.label }}
      </a>
    }
  </nav>

  <mat-tab-nav-panel #tabPanel>
    <div class="py-6 px-4">
      <router-outlet></router-outlet>
    </div>
  </mat-tab-nav-panel>
}
