 <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>
            Payment Info
          </mat-card-title>
        </mat-card-header>
        <mat-card-content [formGroup]="reservationForm()">
          <div class="space-y-4 py-3" formGroupName="paymentInfo">
            
            <!-- Payment Method -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Payment Method</mat-label>
                <mat-select formControlName="method">
                  <mat-option value="cash">Cash</mat-option>
                  <mat-option value="credit_card">Credit Card</mat-option>
                  <mat-option value="debit_card">Debit Card</mat-option>
                  <mat-option value="bank_transfer">Bank Transfer</mat-option>
                  <mat-option value="check">Check</mat-option>
                  <mat-option value="mobile_payment">Mobile Payment</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
                @if (reservationForm()?.get('paymentMethod')?.get('method')?.hasError('required')) {
                  <mat-error>Payment method is required</mat-error>
                }
              </mat-form-field>

              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Payment Method</mat-label>
                <mat-select formControlName="status">
                  <mat-option value="pending">Pending</mat-option>
                  <mat-option value="partial">Partial</mat-option>
                  <mat-option value="paid">Paid</mat-option>
                  <mat-option value="refunded">Refunded</mat-option>
                </mat-select>
                @if (reservationForm()?.get('paymentMethod')?.get('status')?.hasError('required')) {
                  <mat-error>Status  is required</mat-error>
                }
              </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>