.toggle-section {
  margin-bottom: 24px;


  mat-button-toggle-group {
    width: 100%;

    mat-button-toggle {
      flex: 1;

      mat-icon {
        margin-right: 8px;
      }
    }
  }
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}
