:host {
  display: block;
  height: 100%;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Line clamp for product names */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Chip listbox no wrap */
mat-chip-listbox {
  ::ng-deep .mdc-evolution-chip-set__chips {
    flex-wrap: nowrap;
  }
}
