:host {
  display: block;
  height: 100%;
}

/* Primary color from Material theme */
.primary-text {
  color: var(--mat-sys-primary);
}

/* Background colors from Material theme */
.bg-primary {
  background-color: var(--mat-sys-primary);
}

.text-on-primary {
  color: var(--mat-sys-on-primary);
}

// .bg-surface {
//   background-color: var(--mat-sys-surface);
// }

.text-on-surface-variant {
  color: var(--mat-sys-on-surface-variant);
}

.border-outline-variant {
  border-color: var(--mat-sys-outline-variant);
}
