<mat-form-field appearance="outline" class="w-full">
  <mat-label>{{ label }}</mat-label>
  <mat-select [formControl]="control" [disabled]="lockSelection">
    @if (categoriesResource.isLoading()) {
      <mat-option disabled>Loading categories...</mat-option>
    } @else {
      @for (item of options(); track item._id) {
        <mat-option [value]="item.code">{{ item.name }}</mat-option>
      }
    }
  </mat-select>

  @if (canShowAdd()) {
    <mat-hint align="end">
      <a class="category-hint-link" role="button" tabindex="0" (click)="createCategory()" (keydown.enter)="createCategory()">
        Add category
      </a>
    </mat-hint>
  }
</mat-form-field>
