:host {
  display: block;
  width: 100%;
}

mat-form-field {
  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: rgba(0, 0, 0, 0.12);
    }
    
    .mat-mdc-form-field-flex {
      align-items: center;
    }
  }
}
